<!DOCTYPE html>
<html>
    <head>
        <title>Econometric Factor Model - Gouthaman Balaraman</title>
        <!-- All the meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Econometric Factor Model"/>
        <meta property="og:url" content="http://gouthamanbalaraman.com/blog/econometric-factor-model.html"/>
        <meta property="og:description" content="An econometric factor model to explain factor exposures and risk"/>
        <link href="http://gouthamanbalaraman.com/theme/static/css/bootstrap.readable.min.css" rel="stylesheet" />
        <link href="http://gouthamanbalaraman.com/theme/static/css/style.css" rel="stylesheet" />
        
        <link href="http://gouthamanbalaraman.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Gouthaman Balaraman Full Atom Feed" />
        <link href="http://gouthamanbalaraman.com/feeds/all.rss.xml" type="application/rss+xml" rel="alternate" title="Gouthaman Balaraman RSS Feed" />
        <link href="http://gouthamanbalaraman.com/feeds/widgets.atom.xml" type="application/atom+xml" rel="alternate" title="Gouthaman Balaraman Categories Atom Feed" />
        <link href="http://gouthamanbalaraman.com/feeds/widgets.rss.xml" type="application/rss+xml" rel="alternate" title="Gouthaman Balaraman Categories RSS Feed" />
        <!-- Google Analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46714334-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    /*Update Your Analytics Tracking Code to Support Display Advertising by uncommenting the following 
    instead of the above line */    
    /*ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';*/
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
        <!-- Using MathJax, with the delimiters $ -->
        <!-- Conflict with pygments for the .mo and .mi -->
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
          "HTML-CSS": {
          styles: {
          ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
          },
          tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true}
          });
        </script>
    </head>

    <body>
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a href="http://gouthamanbalaraman.com" class="navbar-brand">Gouthaman Balaraman</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://gouthamanbalaraman.com/pages/about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>Econometric Factor Model</h1>
     <!--span class="glyphicon glyphicon-calendar"></span-->
     &nbsp;October 20, 2014
     &nbsp;
     <!--span class="glyphicon glyphicon-user"></span--> by  
     <a class="url fn" href="http://gouthamanbalaraman.com/author/gouthaman-balaraman.html">&nbsp;Gouthaman Balaraman </a>

        <p id="post-share-links">
            &nbsp;Share on:
            <a href="https://sharetodiaspora.github.io/?title=Econometric%20Factor%20Model&url=http%3A//gouthamanbalaraman.com/blog/econometric-factor-model.html" target="_blank" title="Share on Diaspora">Diaspora*</a>
            /
            <a href="http://twitter.com/home?status=Econometric%20Factor%20Model%20http%3A//gouthamanbalaraman.com/blog/econometric-factor-model.html" target="_blank" title="Share on Twitter">Twitter</a>
            /
            <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Burl%5D=http%3A//gouthamanbalaraman.com/blog/econometric-factor-model.html" target="_blank" title="Share on Facebook">Facebook</a>
            /
            <a href="https://plus.google.com/share?url=http%3A//gouthamanbalaraman.com/blog/econometric-factor-model.html" target="_blank" title="Share on Google Plus">Google+</a>
            /
            <a href="mailto:?subject=Econometric%20Factor%20Model&amp;body=http%3A//gouthamanbalaraman.com/blog/econometric-factor-model.html" target="_blank" title="Share via Email">Email</a>
        </p>
     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

<div class="bs-docs-section">
    
     <!-- article description -->
         <p class="lead">An econometric factor model to explain factor exposures and risk</p>
      
      <!-- article content -->
     <p>Please refer to <a class="reference external" href="/blog/understanding-econometric-factor-model.html">Understanding Econometric Factor Model</a>
for details.</p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    var myModule = angular.module('myApp', []);
        myModule
        .directive( 'barChart', function(){
            var directive = {
                restrict : 'E',
                replace : true,
                scope : {
                    dataset: '=' // bidirectional data binding
                    },
                template :  '<svg ng-attr-width="{{graph.width}}" ng-attr-height="{{graph.height}}"></svg>',
                link : function(scope, element, attrs){
                    scope.graph = {height: 200, width: 400};
                    scope.width = function(){
                        dataPoints = scope.dataset.length;
                        return scope.graph / dataPoints;
                     };
                     scope.height = function(data) {
                        max = Math.max.apply(null, scope.dataset);
                        return data / max * scope.graph.height;
                     };
                     scope.x = function(index) {
                        index * scope.width();
                     };
                     scope.y = function(index){
                        scope.graph.height - scope.height(data);
                     };
                }
            };
            return directive;
    });

    myModule.controller('mptCtrl', ['$scope','$http', function($scope, $http){
                    /* Initialization steps */
                    var url = "/extra/data/factormodels/fm_5y_latest.csv";
        $scope.factorItems = ["Unemployment","ConsumerSentiment","Market","Size","ValueGrowth"];
        $scope.riskItems = ["TotalRisk","DiversifiableRisk","NonDiversifiableRisk"];
        $scope.myData = [10,20,30,40,60, 80, 20, 50];
                    $http.get(url).success(function(respData, status, headers, config){
                            var data = d3.csv.parse( respData );
                            $scope.data = data;
            $scope.ticker = 'AAPL';
            $scope.fetchTickerData($scope.ticker);
                    });
                    $scope.fetchTickerData = function(ticker){
                            $scope.message = "";
                            ticker = ticker.toUpperCase();
                            for (var d = 0, len = $scope.data.length; d < len; d += 1) {
                        if ($scope.data[d].Ticker == ticker) {
                                var data = $scope.data[d];
                    var factors = ["Alpha","Unemployment","ConsumerSentiment","Market","Size","ValueGrowth"];
                    var datalist = {};
                    for(var i = 0; i < factors.length; i+=1){
                        datalist[factors[i]] = {exposure: data[factors[i]], std:data[factors[i]+"Std"]};
                    }
                    datalist.Ticker = data.Ticker;
                    datalist.Date = data.Date;
                    datalist.TotalRisk = data.TotalRisk;
                    datalist.DiversifiableRisk = data.DiversifiableRisk;
                    datalist.NonDiversifiableRisk = data.NonDiversifiableRisk;
                    $scope.tickerData = datalist;
                    return;
                        }
            }
            $scope.message = "Ticker not found";
            $scope.tickerData = null;
                    };
            }]);
</script>
<div ng-app="myApp">
    <div ng-controller="mptCtrl">
        <form class="form-inline" ng-submit="fetchTickerData(ticker)">
                            <fieldset>
                                    <!-- Form Name -->
                                    <!-- Text input-->
                                    <div class="form-group col-md-2 ">
                                      <div class="">
                                            <input id="ticker" name="ticker" type="text" placeholder="TICKER" class="form-control input-md" ng-model="ticker">
                                      </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group col-md-2 col-md-offset-2">
                                      <div class="">
                                            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </div>
                            </fieldset>
                    </form>
                    <hr/>

                    <div style="height:800px; ">
                            <div id="results" ng-show="tickerData !=null">
                                    <div class="col-md-12">
                    <strong>Factor Exposures - {{tickerData.Ticker}}</strong>
                    <br/>
                                            <table class="table table-bordered col-md-12">
                        <thead>
                                                            <tr>
                                                                    <th> <span class = "pull-left key">Factor</span></td>
                                                                    <th> <span class = "pull-right key"> Exposure </span></td>
                                <th> <span class = "pull-right key"> Standard Deviation </span></td>
                                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr ng-repeat="item in factorItems">
                                                                    <td> <span class = "pull-left key">{{item}}</span></td>
                                                                    <td> <span class = "pull-right value"> {{tickerData[item].exposure}} </span></td>
                                <td> <span class = "pull-right value"> {{tickerData[item].std}} </span></td>
                                                            </tr>

                                                    </tbody>
                                            </table>
                    <strong>Risk - {{tickerData.Ticker}}</strong>
                    <br/>
                                            <table class="table table-bordered col-md-12">
                        <thead>
                                                            <tr>
                                                                    <th> <span class = "pull-right key">Total Risk (%)</span></td>
                                                                    <th> <span class = "pull-right key">Diversifiable Risk (%)</span></td>
                                <th> <span class = "pull-right key"> Non-Diversifiable Risk (%)</span></td>
                                                            </tr>
                                                    </thead>
                                                    <tbody>
                                                            <tr>
                                                                    <td> <span class = "pull-right value">{{tickerData.TotalRisk}}</span></td>
                                                                    <td> <span class = "pull-right value"> {{tickerData.DiversifiableRisk}} </span></td>
                                <td> <span class = "pull-right value"> {{tickerData.NonDiversifiableRisk}} </span></td>
                                                            </tr>
                                                    </tbody>
                                            </table>
                                    </div> <!-- column 1 div -->
                                    <small>
                    <span class="key">As of date: {{tickerData.Date}}</span>
                </small>
                            </div><!-- results -->
                            <div id="error" ng-if="tickerData==null">
                                    {{message}}
                            </div>
                    </div>

    </div> <!-- controller -->
</div><!--app -->
     <br>
     
     <!-- article tags-->
        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;
            <span class="label label-default"><a href="http://gouthamanbalaraman.com/tag/finance.html">finance</a></span>&nbsp;&nbsp;
            <span class="label label-default"><a href="http://gouthamanbalaraman.com/tag/investing.html">investing</a></span>&nbsp;&nbsp;
            <span class="label label-default"><a href="http://gouthamanbalaraman.com/tag/widget.html">widget</a></span>&nbsp;&nbsp;
        <br>
     <hr/>
    
    <strong>Related Post</strong>
        <ul>
            <li>
                <a href="http://gouthamanbalaraman.com/blog/understanding-econometric-factor-model.html">Understanding the Econometric Factor Model</a>
            </li>
            <li>
                <a href="http://gouthamanbalaraman.com/blog/modern-portfolio-theory-statistics.html">Modern Portfolio Theory Statistics</a>
            </li>
            <li>
                <a href="http://gouthamanbalaraman.com/blog/calculating-stock-beta.html">Calculating Stock Beta, Volatility, and More</a>
            </li>
            <li>
                <a href="http://gouthamanbalaraman.com/blog/hull-white-simulation-quantlib-python.html">Hull White Term Structure Simulations with QuantLib</a>
            </li>
            <li>
                <a href="http://gouthamanbalaraman.com/blog/build-fundamental-factor-model.html">How to Build a Fundamental Factor Model</a>
            </li>
        </ul>
        <hr/>

     <!-- article comments -->
    <div class="comment">
        <div id="disqus_thread"></div> <!-- comment app container -->
    </div>
	<!-- Comment BEGIN -->
    <script type="text/javascript">
        var disqus_shortname = 'gouthamanbalaramancom'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
     <!-- Comment END -->
</div>    
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                </div>
            </div>
            <footer id="contentinfo" class="footer">
                <address id="about" class="vcard body">
                    &copy; <a href="http://gouthamanbalaraman.com">Gouthaman Balaraman</a> Proudly powered by <a href="http://getpelican.com/">Pelican</a>
                    <div class="pull-right">
			            <a href="http://gouthamanbalaraman.com/feeds/all.atom.xml">Atom</a>
			        &nbsp
			            <a href="http://gouthamanbalaraman.com/feeds/all.rss.xml">RSS</a>
		            </div>
                </address><!-- /#about -->
            </footer>
        </div><!-- container -->
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
        <script src="http://gouthamanbalaraman.com/theme/static/js/jquery.1.11.2.min.js"></script>
        <script src="http://gouthamanbalaraman.com/theme/static/js/bootstrap.min.js"></script>
        <script type="text/javascript">
	jQuery(document).ready(function($) {
	    $("div.collapseheader").click(function () {
	    $header = $(this).children("span").first();
	    $codearea = $(this).children(".input_area");
	    console.log($(this).children());
	    $codearea.slideToggle(500, function () {
	        $header.text(function () {
	            return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
	        });
	    });
	});
	});
	</script>
    </body>
</html>